.container {
  width: 400px;
  height: 300px;
  background-color: #4ECDC4;
}

.bar {
  background-color: #FF6B6B;
}

.square {
  background-color: #C7F464;
  color:#C7F464;
  width: 43px;
  height: 43px;
}

.bar.invisible, .square.invisible {
  background-color: #4ECDC4;
}

.circle {
  width: 42px;
  height: 42px;
  background-color: white;
  -moz-border-radius: 21px;
  border-radius: 21px;
}
