.container {
  width: 400px;
  height: 300px;
  background-color: #4ECDC4;
}

.bar {
  background-color: #FF6B6B;
}

.square {
  background-color: #C7F464;
  color:#C7F464;
  width: 43px;
  height: 45px;
}

.bar.invisible, .square.invisible {
  background-color: #4ECDC4;
}

#ball {
  color: white;
}