@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/*general*/

body {
  text-align: center;
  font-size: 40px;
  color: white;
}

.display {
  height: 245px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.parent {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.child {
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner {
  padding-top: 95px;
}

.stop {
  width: 50%;
  margin: 0 auto;
}

/*colors and fonts */

.blue  {
  background-color: lightseagreen;
  font-family: 'Oleo Script', 'cursive';
}

.orange {
  background-color: orange;
  font-family: 'Pacifico', 'cursive';
}

.pink {
  background-color: lightpink;
  font-family: 'Oleo Script', 'cursive'; 
}

.purple {
  background-color: purple;
}

.red {
  background-color: #C8271A;
  font-family: 'Lobster', 'cursive';
}

.yellow {
  background-color: #D28F1C;
  font-family: 'Pacifico', 'cursive';
}

/*bouncy*/ 

.bouncy-container {
  width: 100%;
}

.bouncy {
  width: 50%;
}