@keyframes marquee {
    0%   { text-indent: 430px }
    100% { text-indent: -485px }
}

@-webkit-keyframes marquee {
    0%   { text-indent: 430px }
    100% { text-indent: -485px }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 17s linear infinite;
  -webkit-animation: marquee 17s linear infinite;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
}

.marqee-container {
  padding: 20px;
}