body {
  background-color: whitesmoke;
}
.marqee-container {
  width: 400px;
  padding: 20px 0px 20px 0px;
  background-color: white;
  height: 70px;
}

.bigger {
  font-size: 1.25em;
  min-height: 30px;
}
